# Copier ce fichier en .env et renseigner votre token HuggingFace
# https://huggingface.co/settings/tokens
# Le token doit avoir accès à pyannote/speaker-diarization-3.1
# (accepter la licence sur la page HuggingFace du modèle)

HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxx
